{
    order webdav last
}
:8080 {
    log
    root * /data
    reverse_proxy /* localhost:8080

    handle_path /files/* {
        file_server browse
    }
    redir /files /files/

    handle /webdav/* {
        webdav {
            prefix /webdav
        }
    }
    redir /webdav /webdav/

    basicauth /* {
        operator DJhJDEwJFZZdXVhMjVzQnBJbzJYREVDeTA1V09QVHNGVWZlSVJROUlHNHM3MC55cnh6Lkx1RmJRa2dP
        raygolingo JDJhJDEwJEFmdnRSOHZvL1hZNjJyb0VWcE1KeGV1VHYva2FlcERzNGc4dnNub0xuMTk3b0ZDZzBMTGVp
        joshfiddler JDJhJDEwJEFjSnlIRFVIY0JoQmltQWgwbHAuVi5tRFF2ekx5a3NKbHJ3TG1Ccm0uNW1zVjFtWmNLLjRT
    }
}
