{
    order webdav last
}
:8080 {
    log
    root * /data
    reverse_proxy /* localhost:8080

    handle_path /files/* {
        file_server browse
    }
    redir /files /files/

    handle /webdav/* {
        webdav {
            prefix /webdav
        }
    }
    redir /webdav /webdav/

    basicauth /* {
        operator JDJhJDEwJG83eDhwUjRkM0FZVTlhMWFIcHc1QXUzcGswblZzbHRFSmdoRjJ2ak8uMEN4b01PbGlqZUpD
        joshfiddler JDJhJDEwJFFUdFN0enBaVS8vOUc5dkZrMklzQnVhSXFlOFh1eFMzV2FrZWpiazd1MHhlcS5WcE9DckpP
        rgolingo JDJhJDEwJHpwSGVadmt2dzlQSm1Zd1JHZy9wdC5taWlta0pXVnVWSk9mdllTdjQuTVpiVndvVi9EcmFX
    }
}
