# ai record template for register inputs
record(ai, "$(P)$(R)") {
    field(DTYP,"asynInt32")
    field(INP,"@asynMask($(PORT) $(OFFSET) $(BITS))MODBUS_DATA")
    field(LINR,"NO CONVERSION")
    field(EGU, "Torr")
    field(EGUL,"$(EGUL)")
    field(EGUF,"$(EGUF)")
    field(HOPR,"$(EGUF)")
    field(LOPR,"$(LOPR)")
    field(PREC,"$(HOPR)")
    field(SCAN,"$(SCAN)")
}
